<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Receita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

    <h1>Editar Post</h1>

    <form action="{{ url_for('editar_receita', recipe_id=recipe.id) }}" method="POST"> 
        <div>
            <label for="title">Título:</label><br>
            <input type="text" id="title" name="title" value="{{ recipe.title }}">
        </div>
        <br>
        <div>
            <label for="content">Conteúdo:</label><br>
            <textarea id="content" name="content"> {{recipe.content}} </textarea>
        </div>
        <br>
        <div>
            <button type="submit">Salvar Alterações</button>
        </div>
    </form>
    
    <br>
    <a href="{{ url_for('index') }}">Voltar Para a Tela Inicial</a>
</div>
</body>
</html>